// *********************************************************************
//  _    _ _______  ______ _____ _______ ______         _______ _______
//   \  /  |_____| |_____/   |   |_____| |_____] |      |______ |______
//    \/   |     | |    \_ __|__ |     | |_____] |_____ |______ ______|
//
// *********************************************************************
//--------------------------
// ******** COLOR **********
//--------------------------
// Purple ------------------
$purple-100: #e8ddff;
$purple-300: #ba99ff;
$purple-500: #8b55ff;

.col-purple-500 {
  color: $purple-500;
}
// Green -------------------
$green-100: #10efba;
$green-300: #00d6a3;
$green-500: #008f87;

//Red ----------------------
$red-300: #e95f28;

// Black -------------------
$black: #303030;
$black-300: #31313c;
$black-500: #565661;

// Grey -------------------
$grey-100: #cfcfcf;
$grey-500: #b1b1b1;

// White -------------------
$white-100: #ffffff;
$white-300: #f7f6f8;

//--------------------------
// ****** UTILITIES ********
//--------------------------
// Border Radius -----------
$corners-10: 10px;
$corners-20: 20px;
$corners-40: 40px;
$corners-top: 40px 40px 0px 0px;

// Height ------------------
$height-btn: 50px;
$height-srch: 40px;

// Padding -----------------
$pad-bor: 5%;

$padding-5: 5px;
$padding-10: 10px;
$padding-20: 20px;
$padding-30: 30px;
$padding-40: 40px;

// Margin -------------------
$margin-5: 5px;
$margin-10: 10px;
$margin-20: 20px;
$margin-30: 30px;
$margin-40: 40px;

//--------------------------
// ***** COLOR CLASS ******
//--------------------------
.col-green-300 {
  color: $green-300;
}
.col-red-300 {
  color: $red-300;
}
.col-black-300 {
  color: $black-300;
}

.col-white-100 {
  color: $white-100;
}

//--------------------------
// *** BACKGROND CLASS ****
//--------------------------
.bk-purple-300 {
  background-color: $purple-300;
}
.bk-purple-500 {
  background-color: $purple-500;
}
.bk-green-300 {
  background-color: $green-300;
}
.bk-white-300 {
  background-color: $white-300;
}

//--------------------------
// ****** TEXT CLASS *******
//--------------------------
.text__sm {
  font-size: 0.75em;
}

.text__base {
  font-size: 1em;
}

.text__base--heavy {
  font-size: 1em;
  font-weight: bold;
}

.text__lg {
  font-size: 1.33em;
}

.heading__sm {
  font-size: 1.77em;
}

.heading__sm--bold {
  font-size: 1.77em;
  font-weight: bold;
}

.heading__base {
  font-size: 2.369em;
}

.heading__lg {
  font-size: 3.157em;
}

.heading__lg--balance {
  font-size: 3.783em;
  font-weight: bold;
}

//--------------------------
// ******** FONTS **********
//--------------------------
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap");
$font-noto: "Noto Sans JP", sans-serif;
