//--------------------------
// ******** COLOR **********
//--------------------------
// Purple ------------------
$purple-100: #E8DDFF;
$purple-300: #BA99FF;
$purple-500: #8B55FF;

// Green -------------------
$green-100: #10EFBA;
$green-300: #00D6A3;
$green-500: #008F87;

//Red ----------------------
$red-300:#E95F28;

// Black -------------------
$black: #303030;

// White -------------------
$white: #F8F7FC;

//--------------------------
// ****** TEXT CLASS *******
//--------------------------

.text__sm{
    font-size: 0.75em;
}

.text__base{
    font-size: 1em;
}

.text__base--heavy{
    font-size: 1em;
    font-weight: bold;
}